/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

body, html{height:100%}

/*
Project CSS
*/
body{font-family: arial}
#siteCtn{background: none #076297;}
#mainCtn{
	color:#000;
	background:url("../images/bgHalo.jpg") 0 0 no-repeat transparent;
	background-size: 100%;
	position:relative;
	width:100%;
	max-width: 640px;
	margin:0 auto;
	.wrapper{
	    padding:4%;
	}
}
#tagLine{
	img{width:100%;}
}
#completeForm{
	display: block;
	margin: 0 auto;
	width: 90%;
}
#map{
    width: 42.66%;

    position:absolute;top:0;left:0;display:block;
	img{width:100%}
}
form{
}
.ui-body-c, .ui-dialog.ui-overlay-c{background:none;}
.ui-field-contain label.ui-input-text, .ui-field-contain label.ui-select{display:none;}
.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text, .ui-field-contain .ui-input-search,.ui-field-contain .ui-select{width:100%;}
.ui-field-contain{padding:0;border:0}
.ui-field-contain input.ui-input-text, .ui-field-contain textarea.ui-input-text {
    background-color: #fff;
    width: 100%;
    color:#a2a2a2;
}
.ui-select .ui-btn-icon-right .ui-btn-inner {
    background: none repeat scroll 0 0 #fff;
    color:#a2a2a2;
    font-weight:normal;
    text-align:left
}
.ui-field-contain {
     margin: 1em 0;
 }
.ui-field-contain.input{

     padding:0 19px 0 5px
}

label{display:none;}

#siteCtn{width:100%;height:100%}
p{
    color: #FFFFFF;
    font-family: myrad pro,arial;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding-bottom: 15px;
    text-align: center;
    text-shadow: none;
    padding:1% 5%;
}

/* Home */
.home{
    #popcorn{
        text-align:center;
        img{width:49%}
    }
    #registrationForm{position:relative;left:-2px;}
    #nurunJobs{text-align:right; padding-top:10px;img{width:45%}}
}

/* Thank you */
.thankyou{
    .ui-page.ui-body-c.ui-page-active{height:100%}
    #mainCtn{
        color:#000;
        background-image:url("../images/thankyou.jpg") ;
        background-position:bottom;
        height:100%
    }
    h1{
        font-size:3em;
        color:white;
        text-align:center;
        display:block;
    }
    h1,
    p{
        text-shadow: 0 0 3px rgba(0,0,0,0.9);
    }
    p{font-weight: bold;font-size:18px;}
}

/* iPod */
.ipod{
    &#siteCtn{background:black;}
    #mainCtn{background:none;}

    #ipodTxt{
        img{width:58%;}
        padding: 20px 0;
    }
    #ipod{
        img{width:38%;}
    }
    #backToForm{
        img{width:80%;}
        padding-top:15px;
    }
    #ipodTxt,
    #ipod,
    #backToForm{text-align:center;}
}

/* Registration List */
.registrationList{
    background:white;
    font-size:14px;
    h1{display:block;font-size:20px;padding-top:20px;}
    header{padding:20px 0;text-align:center;}
    header,table{width:50%;margin:0 auto;}
    table{border:1px solid #eee;padding:5px;box-shadow:0 0 10px rgba(0,0,0,0.1);}
    th{text-align:left;padding:5px;}
    td{padding:5px 0}
    small{font-size:11px;}
    tr.colName{border-bottom:1px solid #F0F0F0;}
    tr.data{
        &:hover{background:#F0F0F0;}
    }
    .ui-body-c, .ui-dialog.ui-overlay-c {color:#666;text-shadow: none}
}